{% extends "base.html" %}
{% block content %}
  <h1>Lisää askare muistilistaasi</h1>

  <form method="post" action="{{base_path}}/askare">
      
    <div class="form-group">
      <label>Askareen nimi</label>
      <input name="name" class="form-control" type="text">
    </div>
      
    <div class="form-group">
      <label>Luokka</label>
      <input name="luokka" class="form-control" type="text">
    </div>
      
    <div class="form-group">
      <label>Deadline</label>
      <input name="deadline" class="form-control" type="text">
    </div>
      
    <div class="form-group">
      <label>Kuvaus</label>
      <textarea name="description" class="form-control"></textarea>
    </div>
      
    <div class="form-group">
      <label>Tärkeysaste</label>
      <input name="importance" class="form-control" type="text">
    </div>
      
    <dib bv class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
      
  </form>
{% endblock %}